<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <log4net>
    <appender name="RichTextBoxAppender" type="Rtp.Gui.RichTextBoxAppender">
      <threshold value="DEBUG"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{ddMMM HH:mm:ss} %-5p - %m%n" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="RichTextBoxAppender" />
    </root>
  </log4net>
</configuration>
